<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang='es-CO'> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang='es-CO'> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang='es-CO'> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang='es-CO'> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang='es-CO'>
<!--<![endif]-->

    <head>
        <title>Inicio | Linde Colombia</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=EDGE" />
    </head>
    <body>
        <div class="container body-content">
            <header>
                <div style="width:99%;height:10%">
                    <a href="https://www.linde.co/">
                        <img src="~/Assets/img/header.png" width="99%" />
                    </a>
                </div>
            </header>
            @RenderBody()
            <hr />
            <footer>
                <div style="width:99%;height:10%">
                    <a href="https://www.linde.co/">
                        <img src="~/Assets/img/Footer.png" width="99%" />
                    </a>
                </div>
            </footer>
        </div>

        @Styles.Render("~/Content/Site.css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
